.postActions {
  align-items: center;
  display: flex;
  gap: var(--space-12);
  overflow-x: auto;
}

.postActionButton {
  composes: transitionHover from '/src/styles/shared.module.css';
  color: var(--color-weak-60);
  font-size: 10px;
  line-height: 1;
  padding: var(--space-8) 0;
}

.emphasize {
  composes: transitionHover from '/src/styles/shared.module.css';
  color: var(--color-weak);
  font-size: 12px;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  margin-right: var(--space-2);
}

.postActionButtonActive,
.postActionButtonActive em,
.postActionButton:hover,
.postActionButton:hover em {
  color: var(--color-primary-hover);
}

.postActionIcon {
  composes: transitionHover from '/src/styles/shared.module.css';
  fill: currentcolor;
  height: 16px;
  margin-right: var(--space-8);
}
